In [2]:
# Importing All the Stuffs
import pandas as pd
import numpy as np
import requests
import json
from pprint import pprint

# Import API key
from doe_api import doe_key

In [3]:
#INCOME

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params2 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "id,location.lon,"+
    "location.lat,latest.school.name,"+
    
    #median income
    "latest.student.demographics.median_family_income,"+
    "latest.student.demographics.median_hh_income"+
    
    #low income
    #general completion
    #"latest.completion.title_iv.low_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.low_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.low_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.low_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.low_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.low_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.low_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.low_inc.transf_completed_4yr_by.8yrs,"+
    
    #middle income
    #general completion
    #"latest.completion.title_iv.mid_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.mid_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.mid_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.mid_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.mid_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.mid_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.mid_inc.transf_completed_4yr_by.8yrs,"+
    
    #high income
    #general completion
    #"latest.completion.title_iv.high_inc.completed_by.2yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.3yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.4yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.6yrs,"+
    "latest.completion.title_iv.high_inc.completed_by.8yrs,"+
    
    #general withdrew
    "latest.completion.title_iv.high_inc.withdrawn_by.2yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.4yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.high_inc.withdrawn_by.8yrs,"+
    
    #transferred and withdrew
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.2yrs,latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.3yrs,"+
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.4yrs,latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.6yrs,"+
    #"latest.completion.title_iv.high_inc.transf_withdrawn_4yr_by.8yrs,"+
    
    #transferred and completed
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.2yrs,latest.completion.title_iv.high_inc.transf_completed_4yr_by.3yrs,"+
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.4yrs,latest.completion.title_iv.high_inc.transf_completed_4yr_by.6yrs,"+
    #"latest.completion.title_iv.high_inc.transf_completed_4yr_by.8yrs"+
    
    #page marker
    'page=0'
    
    
}

In [4]:
# Initialize an empty list to store the data
income_data = []
#starting page is 0
params2['page'] = 0

#loop that will loop through the page until we reach page 6
while params2['page'] < 7:
    #api call
    response = requests.get(url, params=params2).json()
    next_page_results = response.get("results", [])
    income_data.extend(next_page_results)
    #to go to the next page of results
    params2['page'] += 1

In [5]:
income_df = pd.DataFrame(income_data)
income_df = income_df.dropna(0)
income_df.columns

Index(['latest.school.name',
       'latest.student.demographics.median_family_income',
       'latest.completion.title_iv.low_inc.completed_by.4yrs',
       'latest.completion.title_iv.low_inc.completed_by.6yrs',
       'latest.completion.title_iv.low_inc.completed_by.8yrs',
       'latest.completion.title_iv.low_inc.withdrawn_by.2yrs',
       'latest.completion.title_iv.low_inc.withdrawn_by.3yrs',
       'latest.completion.title_iv.low_inc.withdrawn_by.4yrs',
       'latest.completion.title_iv.low_inc.withdrawn_by.6yrs',
       'latest.completion.title_iv.low_inc.withdrawn_by.8yrs',
       'latest.completion.title_iv.mid_inc.completed_by.3yrs',
       'latest.completion.title_iv.mid_inc.completed_by.4yrs',
       'latest.completion.title_iv.mid_inc.completed_by.6yrs',
       'latest.completion.title_iv.mid_inc.completed_by.8yrs',
       'latest.completion.title_iv.mid_inc.withdrawn_by.2yrs',
       'latest.completion.title_iv.mid_inc.withdrawn_by.3yrs',
       'latest.completion.title_iv.mid_inc.withdrawn_by.4yrs',
       'latest.completion.title_iv.mid_inc.withdrawn_by.6yrs',
       'latest.completion.title_iv.mid_inc.withdrawn_by.8yrs',
       'latest.completion.title_iv.high_inc.completed_by.3yrs',
       'latest.completion.title_iv.high_inc.completed_by.4yrs',
       'latest.completion.title_iv.high_inc.completed_by.6yrs',
       'latest.completion.title_iv.high_inc.completed_by.8yrs',
       'latest.completion.title_iv.high_inc.withdrawn_by.2yrs',
       'latest.completion.title_iv.high_inc.withdrawn_by.3yrs',
       'latest.completion.title_iv.high_inc.withdrawn_by.4yrs',
       'latest.completion.title_iv.high_inc.withdrawn_by.6yrs',
       'latest.completion.title_iv.high_inc.withdrawn_by.8yrs', 'id',
       'location.lat', 'location.lon'],
      dtype='object')

In [6]:
income_clean = income_df.rename(columns={
    'latest.school.name':'School Name',
    'latest.student.demographics.median_family_income':'Median Family Income',
    #'latest.completion.title_iv.low_inc.completed_by.3yrs':'Percent of Low Income that completed within 3 years',
    'latest.completion.title_iv.low_inc.completed_by.4yrs': '% of Low Income that completed within 4 years',
    'latest.completion.title_iv.low_inc.completed_by.6yrs': '% of Low Income that completed within 6 years',
    'latest.completion.title_iv.low_inc.completed_by.8yrs': '% of Low Income that completed within 8 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.2yrs': '% of Low Income that withdrew within 2 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.3yrs': '% of Low Income that withdrew within 3 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.4yrs': '% of Low Income that withdrew within 4 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.6yrs': '% of Low Income that withdrew within 6 years',
    'latest.completion.title_iv.low_inc.withdrawn_by.8yrs':'% of Low Income that withdrew within 8 years',
    'latest.completion.title_iv.mid_inc.completed_by.3yrs': '% of Middle Income that completed within 3 years',
    'latest.completion.title_iv.mid_inc.completed_by.4yrs': '% of Middle Income that completed within 4 years',
    'latest.completion.title_iv.mid_inc.completed_by.6yrs': '% of Middle Income that completed within 6 years',
    'latest.completion.title_iv.mid_inc.completed_by.8yrs': '% of Middle Income that completed within 8 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.2yrs': '% of Middle Income that withdrew within 2 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.3yrs': '% of Middle Income that withdrew within 3 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.4yrs': '% of Middle Income that withdrew within 4 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.6yrs': '% of Middle Income that withdrew within 6 years',
    'latest.completion.title_iv.mid_inc.withdrawn_by.8yrs': '% of Middle Income that withdrew within 8 years',
    'latest.completion.title_iv.high_inc.completed_by.3yrs':'% of High Income that completed 3 years',
    'latest.completion.title_iv.high_inc.completed_by.4yrs':'% of High Income that completed 4 years',
    'latest.completion.title_iv.high_inc.completed_by.6yrs':'% of High Income that completed 6 years',
    'latest.completion.title_iv.high_inc.completed_by.8yrs':'% of High Income that completed 8 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.2yrs':'% of High Income that withdrew within 2 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.3yrs':'% of High Income that withdrew within 3 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.4yrs':'% of High Income that withdrew within 4 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.6yrs':'% of High Income that withdrew within 6 years',
    'latest.completion.title_iv.high_inc.withdrawn_by.8yrs':'% of High Income that withdrew within 8 years',
    'location.lat': 'Latitude',
    'location.lon': 'Longitude'
    })

In [7]:
income_clean.columns

Index(['School Name', 'Median Family Income',
       '% of Low Income that completed within 4 years',
       '% of Low Income that completed within 6 years',
       '% of Low Income that completed within 8 years',
       '% of Low Income that withdrew within 2 years',
       '% of Low Income that withdrew within 3 years',
       '% of Low Income that withdrew within 4 years',
       '% of Low Income that withdrew within 6 years',
       '% of Low Income that withdrew within 8 years',
       '% of Middle Income that completed within 3 years',
       '% of Middle Income that completed within 4 years',
       '% of Middle Income that completed within 6 years',
       '% of Middle Income that completed within 8 years',
       '% of Middle Income that withdrew within 2 years',
       '% of Middle Income that withdrew within 3 years',
       '% of Middle Income that withdrew within 4 years',
       '% of Middle Income that withdrew within 6 years',
       '% of Middle Income that withdrew within 8 years',
       '% of High Income that completed 3 years',
       '% of High Income that completed 4 years',
       '% of High Income that completed 6 years',
       '% of High Income that completed 8 years',
       '% of High Income that withdrew within 2 years',
       '% of High Income that withdrew within 3 years',
       '% of High Income that withdrew within 4 years',
       '% of High Income that withdrew within 6 years',
       '% of High Income that withdrew within 8 years', 'id', 'Latitude',
       'Longitude'],
      dtype='object')

In [7]:
income_clean

,School Name,Median Family Income,% of Low Income that completed within 4 years,% of Low Income that completed within 6 years,% of Low Income that completed within 8 years,% of Low Income that withdrew within 2 years,% of Low Income that withdrew within 3 years,% of Low Income that withdrew within 4 years,% of Low Income that withdrew within 6 years,% of Low Income that withdrew within 8 years,...,% of High Income that completed 6 years,% of High Income that completed 8 years,% of High Income that withdrew within 2 years,% of High Income that withdrew within 3 years,% of High Income that withdrew within 4 years,% of High Income that withdrew within 6 years,% of High Income that withdrew within 8 years,id,Latitude,Longitude
0,Alabama A & M University,23553.0,0.197746,0.283042,0.265734,0.348643,0.319361,0.381148,0.327930,0.285315,...,0.349515,0.330000,0.250000,0.186047,0.212329,0.242718,0.230000,100654,34.783368,-86.568502
1,University of Alabama at Birmingham,34489.0,0.440978,0.475979,0.477485,0.223259,0.247376,0.225126,0.208185,0.186916,...,0.626524,0.634064,0.151054,0.166464,0.176730,0.129573,0.123103,100663,33.505697,-86.799345
3,University of Alabama in Huntsville,44787.0,0.332075,0.435547,0.448582,0.255198,0.230608,0.283019,0.218750,0.179078,...,0.545752,0.531915,0.163004,0.191450,0.276190,0.186275,0.138298,100706,34.724557,-86.640449
4,Alabama State University,22080.0,0.210593,0.297872,0.243494,0.352288,0.409938,0.345523,0.317447,0.293680,...,0.516340,0.420561,0.202247,0.203390,0.191304,0.150327,0.168224,100724,32.364317,-86.295677
5,The University of Alabama,66733.0,0.480234,0.508601,0.483333,0.154326,0.178358,0.176428,0.183246,0.168750,...,0.698727,0.692564,0.075614,0.088743,0.097076,0.075436,0.073252,100751,33.211875,-87.545978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,San Joaquin Valley College-Santa Maria,15708.0,0.601007,0.637584,0.591050,0.231281,0.254071,0.242002,0.201715,0.167746,...,0.855072,0.804878,0.121094,0.160584,0.102767,0.072464,0.121951,495961,34.937806,-120.433296
5989,San Joaquin Valley College-Porterville,15708.0,0.601007,0.637584,0.591050,0.231281,0.254071,0.242002,0.201715,0.167746,...,0.855072,0.804878,0.121094,0.160584,0.102767,0.072464,0.121951,495998,36.071598,-119.015760
5996,Miller-Motte College-Chattanooga 2,16310.0,0.422659,0.428291,0.456415,0.444122,0.409510,0.370106,0.330015,0.243145,...,0.693182,0.641447,0.235294,0.243902,0.234201,0.159091,0.187500,496292,35.092311,-85.240436
6025,Herzing University-Tampa,18321.0,0.287413,0.292638,0.258988,0.353175,0.338544,0.306993,0.251093,0.246515,...,0.636792,0.511521,0.169960,0.209302,0.173585,0.160377,0.207373,496973,27.976414,-82.335773
6028,Abilene Christian University-Undergraduate Online,67009.0,0.364198,0.415525,0.462428,0.166667,0.153409,0.203704,0.168950,0.115607,...,0.593660,0.492163,0.065217,0.071053,0.069565,0.095101,0.137931,497037,32.977065,-96.826833

In [8]:
income_clean['% of Low Income that completed within 4 years'] = income_clean['% of Low Income that completed within 4 years'] * 100
income_clean['% of Low Income that completed within 6 years'] = income_clean['% of Low Income that completed within 6 years'] * 100
income_clean['% of Low Income that completed within 8 years'] = income_clean['% of Low Income that completed within 8 years'] * 100
income_clean['% of Low Income that withdrew within 2 years'] = income_clean['% of Low Income that withdrew within 2 years'] * 100
income_clean['% of Low Income that withdrew within 3 years'] = income_clean['% of Low Income that withdrew within 3 years'] * 100
income_clean['% of Low Income that withdrew within 4 years'] = income_clean['% of Low Income that withdrew within 4 years'] * 100
income_clean['% of Low Income that withdrew within 6 years'] = income_clean['% of Low Income that withdrew within 6 years'] * 100
income_clean['% of Low Income that withdrew within 8 years'] = income_clean['% of Low Income that withdrew within 8 years'] * 100
income_clean['% of Middle Income that completed within 3 years'] = income_clean["% of Middle Income that completed within 3 years"] * 100
income_clean['% of Middle Income that completed within 4 years'] = income_clean['% of Middle Income that completed within 4 years'] * 100
income_clean['% of Middle Income that completed within 6 years'] = income_clean['% of Middle Income that completed within 6 years'] * 100
income_clean['% of Middle Income that completed within 8 years'] = income_clean['% of Middle Income that completed within 8 years'] * 100
income_clean['% of Middle Income that withdrew within 2 years'] = income_clean['% of Middle Income that withdrew within 2 years'] * 100
income_clean['% of Middle Income that withdrew within 3 years'] = income_clean['% of Middle Income that withdrew within 3 years'] * 100
income_clean['% of Middle Income that withdrew within 4 years'] = income_clean['% of Middle Income that withdrew within 4 years'] * 100
income_clean['% of Middle Income that withdrew within 6 years'] = income_clean['% of Middle Income that withdrew within 6 years'] * 100
income_clean['% of Middle Income that withdrew within 8 years'] = income_clean['% of Middle Income that withdrew within 8 years'] * 100
income_clean['% of High Income that completed 3 years'] = income_clean['% of High Income that completed 3 years'] * 100
income_clean['% of High Income that completed 4 years'] = income_clean['% of High Income that completed 4 years'] * 100
income_clean['% of High Income that completed 6 years'] = income_clean['% of High Income that completed 6 years'] * 100
income_clean['% of High Income that completed 8 years'] = income_clean['% of High Income that completed 8 years'] * 100
income_clean['% of High Income that withdrew within 2 years'] = income_clean['% of High Income that withdrew within 2 years'] * 100
income_clean['% of High Income that withdrew within 3 years'] = income_clean['% of High Income that withdrew within 3 years'] * 100
income_clean['% of High Income that withdrew within 4 years'] = income_clean['% of High Income that withdrew within 4 years'] * 100
income_clean['% of High Income that withdrew within 6 years'] = income_clean['% of High Income that withdrew within 6 years'] * 100
income_clean['% of High Income that withdrew within 8 years'] = income_clean['% of High Income that withdrew within 8 years'] * 100

In [9]:
income_clean

,School Name,Median Family Income,% of Low Income that completed within 4 years,% of Low Income that completed within 6 years,% of Low Income that completed within 8 years,% of Low Income that withdrew within 2 years,% of Low Income that withdrew within 3 years,% of Low Income that withdrew within 4 years,% of Low Income that withdrew within 6 years,% of Low Income that withdrew within 8 years,...,% of High Income that completed 6 years,% of High Income that completed 8 years,% of High Income that withdrew within 2 years,% of High Income that withdrew within 3 years,% of High Income that withdrew within 4 years,% of High Income that withdrew within 6 years,% of High Income that withdrew within 8 years,id,Latitude,Longitude
0,Alabama A & M University,23553.0,19.774590,28.304239,26.573427,34.864301,31.936128,38.114754,32.793017,28.531469,...,34.951456,33.000000,25.000000,18.604651,21.232877,24.271845,23.000000,100654,34.783368,-86.568502
1,University of Alabama at Birmingham,34489.0,44.097808,47.597865,47.748513,22.325915,24.737631,22.512648,20.818505,18.691589,...,62.652439,63.406408,15.105386,16.646416,17.673049,12.957317,12.310287,100663,33.505697,-86.799345
3,University of Alabama in Huntsville,44787.0,33.207547,43.554688,44.858156,25.519849,23.060797,28.301887,21.875000,17.907801,...,54.575163,53.191489,16.300366,19.144981,27.619048,18.627451,13.829787,100706,34.724557,-86.640449
4,Alabama State University,22080.0,21.059269,29.787234,24.349442,35.228849,40.993789,34.552333,31.744681,29.368030,...,51.633987,42.056075,20.224719,20.338983,19.130435,15.032680,16.822430,100724,32.364317,-86.295677
5,The University of Alabama,66733.0,48.023426,50.860135,48.333333,15.432580,17.835821,17.642753,18.324607,16.875000,...,69.872702,69.256382,7.561362,8.874281,9.707555,7.543612,7.325194,100751,33.211875,-87.545978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,San Joaquin Valley College-Santa Maria,15708.0,60.100711,63.758389,59.104982,23.128062,25.407056,24.200237,20.171514,16.774557,...,85.507246,80.487805,12.109375,16.058394,10.276680,7.246377,12.195122,495961,34.937806,-120.433296
5989,San Joaquin Valley College-Porterville,15708.0,60.100711,63.758389,59.104982,23.128062,25.407056,24.200237,20.171514,16.774557,...,85.507246,80.487805,12.109375,16.058394,10.276680,7.246377,12.195122,495998,36.071598,-119.015760
5996,Miller-Motte College-Chattanooga 2,16310.0,42.265893,42.829104,45.641490,44.412192,40.951009,37.010570,33.001542,24.314537,...,69.318182,64.144737,23.529412,24.390244,23.420074,15.909091,18.750000,496292,35.092311,-85.240436
6025,Herzing University-Tampa,18321.0,28.741259,29.263848,25.898753,35.317460,33.854381,30.699301,25.109329,24.651504,...,63.679245,51.152074,16.996047,20.930233,17.358491,16.037736,20.737327,496973,27.976414,-82.335773
6028,Abilene Christian University-Undergraduate Online,67009.0,36.419753,41.552511,46.242775,16.666667,15.340909,20.370370,16.894977,11.560694,...,59.365994,49.216301,6.521739,7.105263,6.956522,9.510086,13.793103,497037,32.977065,-96.826833

In [10]:
income_clean = income_clean.dropna(0)

In [11]:
income_clean

,School Name,Median Family Income,% of Low Income that completed within 4 years,% of Low Income that completed within 6 years,% of Low Income that completed within 8 years,% of Low Income that withdrew within 2 years,% of Low Income that withdrew within 3 years,% of Low Income that withdrew within 4 years,% of Low Income that withdrew within 6 years,% of Low Income that withdrew within 8 years,...,% of High Income that completed 6 years,% of High Income that completed 8 years,% of High Income that withdrew within 2 years,% of High Income that withdrew within 3 years,% of High Income that withdrew within 4 years,% of High Income that withdrew within 6 years,% of High Income that withdrew within 8 years,id,Latitude,Longitude
0,Alabama A & M University,23553.0,19.774590,28.304239,26.573427,34.864301,31.936128,38.114754,32.793017,28.531469,...,34.951456,33.000000,25.000000,18.604651,21.232877,24.271845,23.000000,100654,34.783368,-86.568502
1,University of Alabama at Birmingham,34489.0,44.097808,47.597865,47.748513,22.325915,24.737631,22.512648,20.818505,18.691589,...,62.652439,63.406408,15.105386,16.646416,17.673049,12.957317,12.310287,100663,33.505697,-86.799345
3,University of Alabama in Huntsville,44787.0,33.207547,43.554688,44.858156,25.519849,23.060797,28.301887,21.875000,17.907801,...,54.575163,53.191489,16.300366,19.144981,27.619048,18.627451,13.829787,100706,34.724557,-86.640449
4,Alabama State University,22080.0,21.059269,29.787234,24.349442,35.228849,40.993789,34.552333,31.744681,29.368030,...,51.633987,42.056075,20.224719,20.338983,19.130435,15.032680,16.822430,100724,32.364317,-86.295677
5,The University of Alabama,66733.0,48.023426,50.860135,48.333333,15.432580,17.835821,17.642753,18.324607,16.875000,...,69.872702,69.256382,7.561362,8.874281,9.707555,7.543612,7.325194,100751,33.211875,-87.545978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,San Joaquin Valley College-Santa Maria,15708.0,60.100711,63.758389,59.104982,23.128062,25.407056,24.200237,20.171514,16.774557,...,85.507246,80.487805,12.109375,16.058394,10.276680,7.246377,12.195122,495961,34.937806,-120.433296
5989,San Joaquin Valley College-Porterville,15708.0,60.100711,63.758389,59.104982,23.128062,25.407056,24.200237,20.171514,16.774557,...,85.507246,80.487805,12.109375,16.058394,10.276680,7.246377,12.195122,495998,36.071598,-119.015760
5996,Miller-Motte College-Chattanooga 2,16310.0,42.265893,42.829104,45.641490,44.412192,40.951009,37.010570,33.001542,24.314537,...,69.318182,64.144737,23.529412,24.390244,23.420074,15.909091,18.750000,496292,35.092311,-85.240436
6025,Herzing University-Tampa,18321.0,28.741259,29.263848,25.898753,35.317460,33.854381,30.699301,25.109329,24.651504,...,63.679245,51.152074,16.996047,20.930233,17.358491,16.037736,20.737327,496973,27.976414,-82.335773
6028,Abilene Christian University-Undergraduate Online,67009.0,36.419753,41.552511,46.242775,16.666667,15.340909,20.370370,16.894977,11.560694,...,59.365994,49.216301,6.521739,7.105263,6.956522,9.510086,13.793103,497037,32.977065,-96.826833

In [12]:
income_clean = income_clean.drop_duplicates(subset='School Name')

In [13]:
income_clean = income_clean.set_index('School Name')

In [14]:
income_clean.to_json('Jsons/income_clean.json' , orient = 'index', compression = 'infer' , index = 'true')

In [15]:
income_clean.to_csv('CSVs/income_clean.csv')

In [16]:
income_clean.columns

Index(['Median Family Income', '% of Low Income that completed within 4 years',
       '% of Low Income that completed within 6 years',
       '% of Low Income that completed within 8 years',
       '% of Low Income that withdrew within 2 years',
       '% of Low Income that withdrew within 3 years',
       '% of Low Income that withdrew within 4 years',
       '% of Low Income that withdrew within 6 years',
       '% of Low Income that withdrew within 8 years',
       '% of Middle Income that completed within 3 years',
       '% of Middle Income that completed within 4 years',
       '% of Middle Income that completed within 6 years',
       '% of Middle Income that completed within 8 years',
       '% of Middle Income that withdrew within 2 years',
       '% of Middle Income that withdrew within 3 years',
       '% of Middle Income that withdrew within 4 years',
       '% of Middle Income that withdrew within 6 years',
       '% of Middle Income that withdrew within 8 years',
       '% of High Income that completed 3 years',
       '% of High Income that completed 4 years',
       '% of High Income that completed 6 years',
       '% of High Income that completed 8 years',
       '% of High Income that withdrew within 2 years',
       '% of High Income that withdrew within 3 years',
       '% of High Income that withdrew within 4 years',
       '% of High Income that withdrew within 6 years',
       '% of High Income that withdrew within 8 years', 'id', 'Latitude',
       'Longitude'],
      dtype='object')

In [17]:
#DEPENDENT/INDEPENDENT
#GENERATION


url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params4 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "id,location.lon,location.lat,latest.school.name,"+
    
    #students financially independent/dependent
    "latest.student.share_independent_lowincome.0_30000,latest.student.share_independent_students,latest.student.share_dependent_lowincome.0_300000,"+
    "latest.student.share_lowincome.0_30000,"+
    
    #first gen
    "latest.student.share_firstgeneration,latest.student.share_firstgeneration_parents.somecollege,"+
    "latest.student.share_firstgeneration_parents.middleschool,latest.student.share_firstgeneration_parents.highschool,"+
    
    #first gen tranfered to 4 year
    "latest.completion.title_iv.first_gen.transf_completed_4yr_by.2yrs,latest.completion.title_iv.first_gen.transf_completed_4yr_by.3yrs,"+
    "latest.completion.title_iv.first_gen.transf_completed_4yr_by.4yrs,latest.completion.title_iv.first_gen.transf_completed_4yr_by.6yrs,"+
    "latest.completion.title_iv.first_gen.transf_completed_4yr_by.8yrs,"+
    
    #via census data demographics (population of students by zipcode)
    "latest.student.demographics.share_bachelors_degree_age25.home_ZIP,latest.student.demographics.share_born_US.home_ZIP,"+
    "latest.student.demographics.share_white.home_ZIP,latest.student.demographics.share_hispanic.home_ZIP,"+
    "latest.student.demographics.share_black.home_ZIP,latest.student.demographics.share_asian.home_ZIP,"+
    "latest.student.demographics.share_professional_degree_age25.home_ZIP,"+
    
    #independent
    #general completion
    "latest.completion.title_iv.independ.completed_by.2yrs,latest.completion.title_iv.independ.completed_by.3yrs,"+
    "latest.completion.title_iv.independ.completed_by.4yrs,latest.completion.title_iv.independ.completed_by.6yrs,"+
    "latest.completion.title_iv.independ.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.independ.withdrawn_by.2yrs,latest.completion.title_iv.independ.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.independ.withdrawn_by.4yrs,latest.completion.title_iv.independ.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.independ.withdrawn_by.8yrs,"+
    
    #dependent
    #general completion
    "latest.completion.title_iv.depend.completed_by.2yrs,latest.completion.title_iv.depend.completed_by.3yrs,"+
    "latest.completion.title_iv.depend.completed_by.4yrs,latest.completion.title_iv.depend.completed_by.6yrs,"+
    "latest.completion.title_iv.depend.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.depend.withdrawn_by.2yrs,latest.completion.title_iv.depend.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.depend.withdrawn_by.4yrs,latest.completion.title_iv.depend.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.depend.withdrawn_by.8yrs,"+
    
    #non-first gen
    #general completion
    "latest.completion.title_iv.not_first_gen.completed_by.2yrs,latest.completion.title_iv.not_first_gen.completed_by.3yrs,"+
    "latest.completion.title_iv.not_first_gen.completed_by.4yrs,latest.completion.title_iv.not_first_gen.completed_by.6yrs,"+
    "latest.completion.title_iv.not_first_gen.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.not_first_gen.withdrawn_by.2yrs,latest.completion.title_iv.not_first_gen.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.not_first_gen.withdrawn_by.4yrs,latest.completion.title_iv.not_first_gen.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.not_first_gen.withdrawn_by.8yrs,"+
    
    #first gen
    #general completion
    "latest.completion.title_iv.first_gen.completed_by.2yrs,latest.completion.title_iv.first_gen.completed_by.3yrs,"+
    "latest.completion.title_iv.first_gen.completed_by.4yrs,latest.completion.title_iv.first_gen.completed_by.6yrs,"+
    "latest.completion.title_iv.first_gen.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.first_gen.withdrawn_by.2yrs,latest.completion.title_iv.first_gen.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.first_gen.withdrawn_by.4yrs,latest.completion.title_iv.first_gen.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.first_gen.withdrawn_by.8yrs,"
    "page = 0"
}

In [18]:
# Initialize an empty list to store the data
dependency_data = []
#starting page is 0
params4['page'] = 0

#loop that will loop through the page until we reach page 6
while params4['page'] < 7:
    #api call
    response = requests.get(url, params=params4).json()
    next_page_results = response.get("results", [])
    dependency_data.extend(next_page_results)
    #to go to the next page of results
    params4['page'] += 1
    
dependency_df = pd.DataFrame(dependency_data)
dependency_df = dependency_df.dropna()

In [19]:
#renaming columns 
dependency_df = dependency_df.rename(columns={
    'latest.school.name': 'School Name',
    'latest.student.share_firstgeneration':'% First Generation Students',
    'latest.student.share_firstgeneration_parents.somecollege':'% First Gen, Parents w/College',
    'latest.student.share_firstgeneration_parents.middleschool':'% First Gen, Parents w/MiddleSchool',
    'latest.student.share_firstgeneration_parents.highschool': '% First Gen, Parents w/HighSchool',
    'latest.student.share_dependent_lowincome.0_300000': '% DepStudents, LowIncome $0-$30,000',
    'latest.student.share_independent_lowincome.0_30000': '% IndepStudents, LowIncome $0-$30,000', 
    'latest.student.share_independent_students': '% Independent Students',
    'latest.student.share_lowincome.0_30000':'% aided students family income $0-$30,000',
    'latest.completion.title_iv.first_gen.transf_completed_4yr_by.2yrs': '% FirstGenStudents, Completed 2 Years',
    'latest.completion.title_iv.first_gen.transf_completed_4yr_by.3yrs': '% FirstGenStudents, Completed 3 Years',
    'latest.completion.title_iv.first_gen.transf_completed_4yr_by.4yrs':'% FirstGenStudents, Completed 4 Years',
    'latest.completion.title_iv.first_gen.transf_completed_4yr_by.6yrs': '% FirstGenStudents, Completed 6 Years',
    'latest.completion.title_iv.first_gen.transf_completed_4yr_by.8yrs': '% FirstGenStudents, Completed 8 Years',
    'latest.student.demographics.share_bachelors_degree_age25.home_ZIP': '% Students W/Bachelors Degree at 25 Years Old',
    'latest.student.demographics.share_born_US.home_ZIP': '% Students Born Within the U.S.',
    'latest.student.demographics.share_white.home_ZIP': '% Population of White Students by ZIP Code',
    'latest.student.demographics.share_hispanic.home_ZIP': '% Population of Hispanic Students by ZIP Code',
    'latest.student.demographics.share_black.home_ZIP': '% Population of Black Students by ZIP Code',
    'latest.student.demographics.share_asian.home_ZIP': '% Population of Asian Students by ZIP Code',
    'latest.student.demographics.share_professional_degree_age25.home_ZIP': '% Students W/Professional Deg at 25YrsbyZIP',
    'latest.completion.title_iv.independ.completed_by.2yrs': '% IndepStudents Completed 2 Years',
    'latest.completion.title_iv.independ.completed_by.3yrs': '% IndepStudents Completed 3 Years',
    'latest.completion.title_iv.independ.completed_by.4yrs':'% IndepStudents Completed 4 Years',
    'latest.completion.title_iv.independ.completed_by.6yrs':'% IndepStudents Completed 6 Years',
    'latest.completion.title_iv.independ.completed_by.8yrs':'% IndepStudents Completed 8 Years',
    'latest.completion.title_iv.independ.withdrawn_by.2yrs':'% IndepStudents Withdrawn 2 Years',
    'latest.completion.title_iv.independ.withdrawn_by.3yrs':'% IndepStudents Withdrawn 3 Years',
    'latest.completion.title_iv.independ.withdrawn_by.4yrs':'% IndepStudents Withdrawn 4 Years',
    'latest.completion.title_iv.independ.withdrawn_by.6yrs':'% IndepStudents Withdrawn 6 Years',
    'latest.completion.title_iv.independ.withdrawn_by.8yrs':'% IndepStudents Withdrawn 8 Years',
    'latest.completion.title_iv.depend.completed_by.2yrs':'% DepStudents Completed 2 Years',
    'latest.completion.title_iv.depend.completed_by.3yrs':'% DepStudents Completed 3 Years',
    'latest.completion.title_iv.depend.completed_by.4yrs':'% DepStudents Completed 4 Years',
    'latest.completion.title_iv.depend.completed_by.6yrs':'% DepStudents Completed 6 Years',
    'latest.completion.title_iv.depend.completed_by.8yrs':'% DepStudents Completed 8 Years',
    'latest.completion.title_iv.depend.withdrawn_by.2yrs':'% DepStudents Withdrawn 2 Years',
    'latest.completion.title_iv.depend.withdrawn_by.3yrs':'% DepStudents Withdrawn 3 Years',
    'latest.completion.title_iv.depend.withdrawn_by.4yrs':'% DepStudents Withdrawn 4 Years',
    'latest.completion.title_iv.depend.withdrawn_by.6yrs':'% DepStudents Withdrawn 6 Years',
    'latest.completion.title_iv.depend.withdrawn_by.8yrs':'% DepStudents Withdrawn 8 Years',
    'latest.completion.title_iv.not_first_gen.completed_by.2yrs':'% NonFirstGenStudents Completed 2 Years',
    'latest.completion.title_iv.not_first_gen.completed_by.3yrs':'% NonFirstGenStudents Completed 3 Years',
    'latest.completion.title_iv.not_first_gen.completed_by.4yrs':'% NonFirstGenStudents Completed 4 Years',
    'latest.completion.title_iv.not_first_gen.completed_by.6yrs':'% NonFirstGenStudents Completed 6 Years',
    'latest.completion.title_iv.not_first_gen.completed_by.8yrs':'% NonFirstGenStudents Completed 8 Years',
    'latest.completion.title_iv.not_first_gen.withdrawn_by.2yrs':'% NonFirstGenStudents Withdrawn 2 Years',
    'latest.completion.title_iv.not_first_gen.withdrawn_by.3yrs':'% NonFirstGenStudents Withdrawn 3 Years',
    'latest.completion.title_iv.not_first_gen.withdrawn_by.4yrs':'% NonFirstGenStudents Withdrawn 4 Years',
    'latest.completion.title_iv.not_first_gen.withdrawn_by.6yrs':'% NonFirstGenStudents Withdrawn 6 Years',
    'latest.completion.title_iv.not_first_gen.withdrawn_by.8yrs':'% NonFirstGenStudents Withdrawn 8 Years',
    'latest.completion.title_iv.first_gen.completed_by.2yrs': '% FirstGenStudents Completed 2 Years',
    'latest.completion.title_iv.first_gen.completed_by.3yrs': '% FirstGenStudents Completed 3 Years',
    'latest.completion.title_iv.first_gen.completed_by.4yrs': '% FirstGenStudents Completed 4 Years',
    'latest.completion.title_iv.first_gen.completed_by.6yrs': '% FirstGenStudents Completed 6 Years',
    'latest.completion.title_iv.first_gen.completed_by.8yrs': '% FirstGenStudents Completed 8 Years',
    'latest.completion.title_iv.first_gen.withdrawn_by.2yrs': '% FirstGenStudents Withdrawn 2 Years',
    'latest.completion.title_iv.first_gen.withdrawn_by.3yrs': '% FirstGenStudents Withdrawn 3 Years',
    'latest.completion.title_iv.first_gen.withdrawn_by.4yrs': '% FirstGenStudents Withdrawn 4 Years',
    'latest.completion.title_iv.first_gen.withdrawn_by.6yrs': '% FirstGenStudents Withdrawn 6 Years',
    'latest.completion.title_iv.first_gen.withdrawn_by.8yrs': '% FirstGenStudents Withdrawn 8 Years', 
    'location.lat': 'Latitude',
    'location.lon': 'Longitutde'
})

In [20]:
dependency_df

,School Name,"% IndepStudents, LowIncome $0-$30,000",% Independent Students,"% DepStudents, LowIncome $0-$30,000","% aided students family income $0-$30,000",% First Generation Students,"% First Gen, Parents w/College","% First Gen, Parents w/MiddleSchool","% First Gen, Parents w/HighSchool","% FirstGenStudents, Completed 2 Years",...,% FirstGenStudents Completed 6 Years,% FirstGenStudents Completed 8 Years,% FirstGenStudents Withdrawn 2 Years,% FirstGenStudents Withdrawn 3 Years,% FirstGenStudents Withdrawn 4 Years,% FirstGenStudents Withdrawn 6 Years,% FirstGenStudents Withdrawn 8 Years,id,Latitude,Longitutde
1,University of Alabama at Birmingham,0.594203,0.321409,0.348710,0.427613,0.341224,0.658776,0.022267,0.318957,0.032513,...,0.514706,0.519538,0.214851,0.239803,0.218299,0.186275,0.166758,100663,33.505697,-86.799345
9,Auburn University,0.775463,0.085868,0.202870,0.252037,0.172647,0.827353,0.006561,0.166086,0.015363,...,0.686353,0.689705,0.138966,0.131285,0.113067,0.095770,0.092873,100858,32.599378,-85.488258
12,South University-Montgomery,0.696324,0.784843,0.513344,0.656954,0.472288,0.527712,0.051853,0.420435,0.039062,...,0.168197,0.108586,0.369271,0.333107,0.338735,0.331366,0.357161,101116,32.342684,-86.216488
21,Herzing University-Birmingham,0.721758,0.859247,0.519678,0.693315,0.520903,0.479097,0.055691,0.465212,0.021881,...,0.338136,0.306634,0.323318,0.318826,0.297189,0.244942,0.242434,101365,33.468466,-86.832465
50,Troy University,0.618857,0.446304,0.384977,0.489358,0.389846,0.610154,0.025834,0.364011,0.019830,...,0.254968,0.283221,0.294618,0.313099,0.328862,0.342203,0.268188,102368,31.800672,-85.957094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5913,Pima Medical Institute-San Antonio,0.721698,0.624835,0.461650,0.624137,0.505393,0.494607,0.096687,0.408706,0.005396,...,0.697781,0.690153,0.150294,0.135690,0.127022,0.111299,0.104280,494588,29.488708,-98.540716
6025,Herzing University-Tampa,0.721758,0.859247,0.519678,0.693315,0.520903,0.479097,0.055691,0.465212,0.021881,...,0.338136,0.306634,0.323318,0.318826,0.297189,0.244942,0.242434,496973,27.976414,-82.335773
6026,Galen Health Institutes-Miami Campus,0.488716,0.786372,0.286154,0.445443,0.493010,0.506990,0.053170,0.439840,0.027580,...,0.556291,0.645139,0.147931,0.136295,0.149739,0.136665,0.097222,496991,25.997073,-80.337924
6031,Galen Health Institutes-Austin Campus,0.488716,0.786372,0.286154,0.445443,0.493010,0.506990,0.053170,0.439840,0.027580,...,0.556291,0.645139,0.147931,0.136295,0.149739,0.136665,0.097222,497116,30.476575,-97.690907
6032,Galen Health Institutes-Nashville Campus,0.488716,0.786372,0.286154,0.445443,0.493010,0.506990,0.053170,0.439840,0.027580,...,0.556291,0.645139,0.147931,0.136295,0.149739,0.136665,0.097222,497125,36.162229,-86.791569

In [21]:
for i in dependency_df.columns[1:]:
    dependency_df[i] = dependency_df[i] * 100

In [22]:
dependency_df.columns

Index(['School Name', '% IndepStudents, LowIncome $0-$30,000',
       '% Independent Students', '% DepStudents, LowIncome $0-$30,000',
       '% aided students family income $0-$30,000',
       '% First Generation Students', '% First Gen, Parents w/College',
       '% First Gen, Parents w/MiddleSchool',
       '% First Gen, Parents w/HighSchool',
       '% FirstGenStudents, Completed 2 Years',
       '% FirstGenStudents, Completed 3 Years',
       '% FirstGenStudents, Completed 4 Years',
       '% FirstGenStudents, Completed 6 Years',
       '% FirstGenStudents, Completed 8 Years',
       '% Students W/Bachelors Degree at 25 Years Old',
       '% Students Born Within the U.S.',
       '% Population of White Students by ZIP Code',
       '% Population of Hispanic Students by ZIP Code',
       '% Population of Black Students by ZIP Code',
       '% Population of Asian Students by ZIP Code',
       '% Students W/Professional Deg at 25YrsbyZIP',
       '% IndepStudents Completed 2 Years',
       '% IndepStudents Completed 3 Years',
       '% IndepStudents Completed 4 Years',
       '% IndepStudents Completed 6 Years',
       '% IndepStudents Completed 8 Years',
       '% IndepStudents Withdrawn 2 Years',
       '% IndepStudents Withdrawn 3 Years',
       '% IndepStudents Withdrawn 4 Years',
       '% IndepStudents Withdrawn 6 Years',
       '% IndepStudents Withdrawn 8 Years', '% DepStudents Completed 2 Years',
       '% DepStudents Completed 3 Years', '% DepStudents Completed 4 Years',
       '% DepStudents Completed 6 Years', '% DepStudents Completed 8 Years',
       '% DepStudents Withdrawn 2 Years', '% DepStudents Withdrawn 3 Years',
       '% DepStudents Withdrawn 4 Years', '% DepStudents Withdrawn 6 Years',
       '% DepStudents Withdrawn 8 Years',
       '% NonFirstGenStudents Completed 2 Years',
       '% NonFirstGenStudents Completed 3 Years',
       '% NonFirstGenStudents Completed 4 Years',
       '% NonFirstGenStudents Completed 6 Years',
       '% NonFirstGenStudents Completed 8 Years',
       '% NonFirstGenStudents Withdrawn 2 Years',
       '% NonFirstGenStudents Withdrawn 3 Years',
       '% NonFirstGenStudents Withdrawn 4 Years',
       '% NonFirstGenStudents Withdrawn 6 Years',
       '% NonFirstGenStudents Withdrawn 8 Years',
       '% FirstGenStudents Completed 2 Years',
       '% FirstGenStudents Completed 3 Years',
       '% FirstGenStudents Completed 4 Years',
       '% FirstGenStudents Completed 6 Years',
       '% FirstGenStudents Completed 8 Years',
       '% FirstGenStudents Withdrawn 2 Years',
       '% FirstGenStudents Withdrawn 3 Years',
       '% FirstGenStudents Withdrawn 4 Years',
       '% FirstGenStudents Withdrawn 6 Years',
       '% FirstGenStudents Withdrawn 8 Years', 'id', 'Latitude', 'Longitutde'],
      dtype='object')

In [23]:
dependency_df = dependency_df.drop_duplicates(subset='School Name')

In [24]:
dependency_df = dependency_df.set_index('School Name')

In [25]:
dependency_df.to_json('Jsons/dependency_df.json' , orient = 'index', compression = 'infer' , index = 'true')

In [26]:
dependency_df.to_csv('CSVs/dependency_df.csv')

In [27]:
#DEMOGHRAPHICS

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params1 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "id,location.lon,location.lat,latest.school.name,"+
    
    "latest.root.location.lon,latest.root.location,latest.school.zip,latest.student.size,latest.root.id,latest.school.region_id,"+
    #"latest.aid.pell_grant_rate,latest.school.faculty_salary,latest.school.ft_faculty_rate,"+
    
    #admissions test requirements
    "latest.admissions.test_requirements,"+
    'latest.admissions.admission_rate.overall,'+
    
    #completion rate demographics
    'latest.completion.completion_rate_4yr_150nt,'+
    #"latest.completion.completion_rate_4yr_150_nhpi,"+ 
    #"latest.completion.completion_rate_4yr_150_aian,latest.completion.completion_rate_4yr_150_asian,"+
    #"latest.completion.completion_rate_4yr_150_hispanic,latest.completion.completion_rate_4yr_150_black,"+
    #"latest.completion.completion_rate_4yr_150_white,"+
    
    
    #student demographics
    "latest.student.demographics.race_ethnicity.white,latest.student.demographics.race_ethnicity.hispanic,"+
    "latest.student.demographics.race_ethnicity.black,latest.student.demographics.race_ethnicity.api,"+
    "latest.student.demographics.race_ethnicity.asian,"+
    "latest.student.demographics.race_ethnicity.aian,latest.student.demographics.women,latest.student.demographics.men,"+
    
    #median debt per demographic
    #"latest.aid.median_debt.income.30001_75000,latest.aid.median_debt.income.0_30000,latest.aid.median_debt.income.greater_than_75000,"+
    #"latest.aid.median_debt.noncompleters,latest.aid.median_debt.completers.overall,latest.aid.median_debt.male_students,"+
    #"latest.aid.median_debt.independent_students,latest.aid.median_debt.female_students,latest.aid.median_debt.dependent_students,"+
    
    #religious affiliation
    "latest.school.religious_affiliation,"+
    
    #undergrads age 25 and above
    "latest.student.share_25_older"+
    
    #page marker
    'page=0'
    
    
}

In [28]:
# Initialize an empty list to store the data
demographics_data = []
#starting page is 0
params1['page'] = 0

#loop that will loop through the page until we reach page 6
while params1['page'] < 7:
    #api call
    response = requests.get(url, params=params1).json()
    next_page_results = response.get("results", [])
    demographics_data.extend(next_page_results)
    #to go to the next page of results
    params1['page'] += 1

In [29]:
#create dataframe
demographics_df = pd.DataFrame(demographics_data)
#fill na columns to 0
demographics_df = demographics_df.dropna()
#drop unwanted columns
demographics_df = demographics_df.drop(columns = ['latest.student.demographics.race_ethnicity.api_2000',
                                                 'latest.school.region_id',
                                                  'latest.school.religious_affiliation',
                                                 'latest.school.zip'])

In [30]:
#rename columns
demographics_clean = demographics_df.rename(columns={
    'id':'School_Id',
    'location.lat':'School Latitude',
    'location.lon':'School Longitude',
    'latest.school.name':'School Name',
    'latest.student.size':'Student Count',
    'latest.admissions.test_requirements':'Requirement; 1:Yes, 2:Rec, 3:Na, 4:Dk, 5:Nan',
    'latest.admissions.admission_rate.overall': 'Admission Rate',
    'latest.completion.completion_rate_4yr_150nt':'4Yr Uni Completion Rates',
    'latest.student.demographics.race_ethnicity.white': '% White Students',
    'latest.student.demographics.race_ethnicity.hispanic':'% Hispanic Students',
    'latest.student.demographics.race_ethnicity.black': '% Black Students',
    'latest.student.demographics.race_ethnicity.asian': '% Asian Students',
    'latest.student.demographics.race_ethnicity.aian': '% AIAN Students',
    'latest.student.demographics.women':'% Female Students',
    'latest.student.demographics.men':'% Male Students'})

In [31]:
#for loop to multiply the list of columns by 100 for the percent
columns_percent = ['Admission Rate','4Yr Uni Completion Rates','% White Students',
                  '% Hispanic Students','% Black Students','% Asian Students','% AIAN Students',
                  '% Female Students', '% Male Students']
for columns in columns_percent:
    demographics_clean[columns] = demographics_clean[columns]*100

In [32]:
#reorder columns
demographics_clean = demographics_clean[['School_Id','School Name','Student Count',
'Requirement; 1:Yes, 2:Rec, 3:Na, 4:Dk, 5:Nan',
'Admission Rate', '4Yr Uni Completion Rates', '% White Students',
'% Hispanic Students', '% Black Students','% Asian Students', '% AIAN Students','% Female Students', '% Male Students',
'School Latitude','School Longitude']]

In [33]:
demographics_clean = demographics_clean.drop_duplicates(subset='School Name')

In [34]:
demographics_clean = demographics_clean.set_index('School Name')

In [35]:
demographics_clean.to_json('Jsons/demographics_clean.json', orient = 'index', compression = 'infer', index = 'true')

In [37]:
demographics_clean.to_csv('CSVs/demographics_clean.csv')

In [38]:
#MALE/FEMALE

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params3 = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "id,location.lon,location.lat,latest.school.name,"+
    
    #male 
    #general completion
    "latest.completion.title_iv.male.completed_by.2yrs,latest.completion.title_iv.male.completed_by.3yrs,"+
    "latest.completion.title_iv.male.completed_by.4yrs,latest.completion.title_iv.male.completed_by.6yrs,"+
    "latest.completion.title_iv.male.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.male.withdrawn_by.2yrs,latest.completion.title_iv.male.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.male.withdrawn_by.4yrs,latest.completion.title_iv.male.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.male.withdrawn_by.8yrs,"+
    
    
    #female 
    #general completion
    "latest.completion.title_iv.female.completed_by.2yrs,latest.completion.title_iv.female.completed_by.3yrs,"+
    "latest.completion.title_iv.female.completed_by.4yrs,latest.completion.title_iv.female.completed_by.6yrs,"+
    "latest.completion.title_iv.female.completed_by.8yrs,"+
    #general withdrew
    "latest.completion.title_iv.female.withdrawn_by.2yrs,latest.completion.title_iv.female.withdrawn_by.3yrs,"+
    "latest.completion.title_iv.female.withdrawn_by.4yrs,latest.completion.title_iv.female.withdrawn_by.6yrs,"+
    "latest.completion.title_iv.female.withdrawn_by.8yrs,"+
    
    #page marker
    'page=0'
    
}

In [39]:
# Initialize an empty list to store the data
gender_completion = []
#starting page is 0
params3['page'] = 0

#loop that will loop through the page until we reach page 6
while params3['page'] < 7:
    #api call
    response = requests.get(url, params=params3).json()
    next_page_results = response.get("results", [])
    gender_completion.extend(next_page_results)
    #to go to the next page of results
    params3['page'] += 1

In [40]:
#create dataframe
gender_completion_df = pd.DataFrame(gender_completion)
#fill nan values to 0
gender_completion_df = gender_completion_df.dropna()
#rename columns
gender_completion_clean = gender_completion_df.rename(columns = {
        'id':'School_Id',
        'location.lat':'School Latitude',
        'location.lon':'School Longitude',
        'latest.school.name': 'School Name',
       'latest.completion.title_iv.male.completed_by.2yrs':'% Male Students Completed within 2yrs',
       'latest.completion.title_iv.male.completed_by.3yrs':'% Male Students Completed within 3yrs',
       'latest.completion.title_iv.male.completed_by.4yrs':'% Male Students Completed within 4yrs',
       'latest.completion.title_iv.male.completed_by.6yrs':'% Male Students Completed within 6yrs',
       'latest.completion.title_iv.male.completed_by.8yrs':'% Male Students Completed within 8yrs',
       'latest.completion.title_iv.male.withdrawn_by.2yrs':'% Male Students Withdrawn by 2yrs',
       'latest.completion.title_iv.male.withdrawn_by.3yrs':'% Male Students Withdrawn by 3yrs',
       'latest.completion.title_iv.male.withdrawn_by.4yrs':'% Male Students Withdrawn by 4yrs',
       'latest.completion.title_iv.male.withdrawn_by.6yrs':'% Male Students Withdrawn by 6yrs',
       'latest.completion.title_iv.male.withdrawn_by.8yrs':'% Male Students Withdrawn by 8yrs',
       'latest.completion.title_iv.female.completed_by.2yrs':'% Female Students Completed within 2yrs',
       'latest.completion.title_iv.female.completed_by.3yrs':'% Female Students Completed within 3yrs',
       'latest.completion.title_iv.female.completed_by.4yrs':'% Female Students Completed within 4yrs',
       'latest.completion.title_iv.female.completed_by.6yrs':'% Female Students Completed within 6yrs',
       'latest.completion.title_iv.female.completed_by.8yrs':'% Female Students Completed within 8yrs',
       'latest.completion.title_iv.female.withdrawn_by.2yrs':'% Female Students Withdrawn by 2yrs',
       'latest.completion.title_iv.female.withdrawn_by.3yrs':'% Female Students Withdrawn by 3yrs',
       'latest.completion.title_iv.female.withdrawn_by.4yrs':'% Female Students Withdrawn by 4yrs',
       'latest.completion.title_iv.female.withdrawn_by.6yrs':'% Female Students Withdrawn by 6yrs',
       'latest.completion.title_iv.female.withdrawn_by.8yrs':'% Female Students Withdrawn by 8yrs'
    
})

In [41]:
gender_completion_clean = gender_completion_clean[['School_Id','School Name', 
        '% Male Students Completed within 2yrs',
       '% Male Students Completed within 3yrs',
       '% Male Students Completed within 4yrs',
       '% Male Students Completed within 6yrs',
       '% Male Students Completed within 8yrs',
       '% Male Students Withdrawn by 2yrs',
       '% Male Students Withdrawn by 3yrs',
       '% Male Students Withdrawn by 4yrs',
       '% Male Students Withdrawn by 6yrs',
       '% Male Students Withdrawn by 8yrs',
       '% Female Students Completed within 2yrs',
       '% Female Students Completed within 3yrs',
       '% Female Students Completed within 4yrs',
       '% Female Students Completed within 6yrs',
       '% Female Students Completed within 8yrs',
       '% Female Students Withdrawn by 2yrs',
       '% Female Students Withdrawn by 3yrs',
       '% Female Students Withdrawn by 4yrs',
       '% Female Students Withdrawn by 6yrs',
       '% Female Students Withdrawn by 8yrs']]

In [42]:
#for loop to convert floats to percentage
for i in gender_completion_clean.columns[2:]:
    gender_completion_clean[i] = gender_completion_clean[i] * 100

In [43]:
gender_completion_clean = gender_completion_clean.drop_duplicates(subset='School Name')

In [44]:
gender_completion_clean = gender_completion_clean.set_index('School Name')

In [45]:
gender_completion_clean.to_json('Jsons/gender_completion_clean.json', orient = 'index', compression = 'infer', index = 'true')

In [46]:
gender_completion_clean.to_csv('CSVs/gender_completion_clean.csv')

In [52]:
#ACADEMICS

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params = {
    'api_key': doe_key,
    'per_page': 150,
    'fields': 'id,'+
    'location.lon,'+
    'location.lat,'+
    'latest.school.name,'+
    'latest.aid.federal_loan_rate,'+
    'latest.cost.title_iv.private.all,'+
    'latest.academics.program_reporter.programs_offered,'+
    'latest.school.tuition_revenue_per_fte,'+
    'latest.student.enrollment.all,'+
    'latest.school.degrees_awarded.highest,'+
    'latest.admissions.sat_scores.midpoint.writing,'+
    'latest.admissions.sat_scores.midpoint.math,'+
    'latest.admissions.sat_scores.midpoint.critical_reading,'+
    'latest.admissions.sat_scores.average.overall,'+
    'latest.admissions.act_scores.midpoint.writing,'+
    'latest.admissions.act_scores.midpoint.math,'+
    'latest.admissions.act_scores.midpoint.english,'+
    'latest.admissions.act_scores.midpoint.cumulative,'+
    'latest.student.retention_rate.four_year.full_time,'+
    #'latest.student.retention_rate.four_year.full_time_pooled,'+
    #'latest.school.ownership'+
    #'latest.completion.completion_rate_less_than_4yr_150nt,'+
    'latest.completion.completion_rate_4yr_150_white,'+
    'latest.completion.completion_rate_4yr_150_2ormore,'+
    'latest.completion.completion_rate_4yr_150_nhpi,'+
    'latest.completion.completion_rate_4yr_150_hispanic,'+
    'latest.completion.completion_rate_4yr_150_black,'+
    'latest.completion.completion_rate_4yr_150_asian,'+
    'latest.completion.completion_rate_4yr_150_aian,'+
    'latest.completion.completion_rate_4yr_150nt_pooled,'+
    
    'page=0'
}

In [53]:
# Initialize an empty list to store the data
academics_data = []
#starting page is 0
params['page'] = 0

#loop that will loop through the page until we reach page 6
while params['page'] < 7:
    #api call
    response = requests.get(url, params=params).json()
    next_page_results = response.get("results", [])
    academics_data.extend(next_page_results)
    #to go to the next page of results
    params['page'] += 1


academics_df = pd.DataFrame(academics_data)
Data_clean = academics_df.dropna()

In [54]:
Data_clean

Empty DataFrame
Columns: []
Index: []

In [49]:
Data_clean = academics_df.rename(columns={
'latest.school.name' : 'School Name',
'latest.cost.title_iv.private.all' : 'Title 4 Cost Private',
'latest.academics.program_reporter.programs_offered' : 'No.of programs offered',
'latest.school.tuition_revenue_per_fte' : 'Tuition FT Enrollment in $',
'latest.student.enrollment.all': 'Enrollment',
'latest.school.degrees_awarded.highest' : 'Highest degree awarded',
'latest.admissions.sat_scores.midpoint.writing' : 'SAT Writing Midpoint',
'latest.admissions.sat_scores.midpoint.math' : 'SAT Math Midpoint',
'latest.admissions.sat_scores.midpoint.critical_reading' : 'SAT Critical Reading Midpoint',
'latest.admissions.sat_scores.average.overall' : 'SAT Average Overall',
'latest.admissions.act_scores.midpoint.writing' : 'ACT Writing Midpoint',
'latest.admissions.act_scores.midpoint.math' : ' ACT Math Midpoint',
'latest.admissions.act_scores.midpoint.english' : 'ACT English Midpoint',
'latest.student.retention_rate.four_year.full_time' : 'Retention Rate FT',
'latest.completion.completion_rate_4yr_150_white' : 'Completion Rate 4 year (White)',
'latest.completion.completion_rate_4yr_150_2ormore' : 'Completion Rate 4 year (2 Or More Races)',
'latest.completion.completion_rate_4yr_150_nhpi':'Completion Rate 4 year (Hawaian/Pacific Islander)',
'latest.completion.completion_rate_4yr_150_hispanic':'Completion Rate 4 year (Hispanic)',
'latest.completion.completion_rate_4yr_150_black' : 'Completion Rate 4 year (Black)',
'latest.completion.completion_rate_4yr_150_asian' : 'Completion Rate 4 year (Asian)',
'latest.completion.completion_rate_4yr_150_aian' : 'Completion Rate 4 year (American Indian)',
'latest.completion.completion_rate_4yr_150nt_pooled': 'General Completion Rate',
'latest.aid.federal_loan_rate' : '% of Students receiving Federal Loan',
'latest.admissions.act_scores.midpoint.cumulative' : 'ACT Cumulative Midpoint',
'location.lon' : 'Longitutde',
'location.lat': 'Latitude'
})

In [51]:
Data_clean.columns

Index([], dtype='object')

In [50]:
Data_clean['Completion Rate 4 year (White)'] = Data_clean['Completion Rate 4 year (White)'] * 100
Data_clean['Completion Rate 4 year (2 Or More Races)'] = Data_clean['Completion Rate 4 year (2 Or More Races)'] * 100
Data_clean['Completion Rate 4 year (Hawaian/Pacific Islander)'] = Data_clean['Completion Rate 4 year (Hawaian/Pacific Islander)'] * 100
Data_clean['Completion Rate 4 year (Hispanic)'] = Data_clean['Completion Rate 4 year (Hispanic)'] * 100
Data_clean['Completion Rate 4 year (Asian)'] = Data_clean['Completion Rate 4 year (Asian)'] * 100
Data_clean['Completion Rate 4 year (American Indian)'] = Data_clean['Completion Rate 4 year (American Indian)'] * 100
Data_clean['Completion Rate 4 year (Black)'] = Data_clean['Completion Rate 4 year (Black)'] * 100
Data_clean['% of Students receiving Federal Loan'] = Data_clean['% of Students receiving Federal Loan'] * 100
Data_clean['Retention Rate FT'] = Data_clean['Retention Rate FT'] * 100
Data_clean['General Completion Rate'] = Data_clean['General Completion Rate'] * 100

KeyError: 'Completion Rate 4 year (White)'

In [ ]:
Data_clean = Data_clean.drop_duplicates(subset='School Name')

In [ ]:
Data_clean = Data_clean.set_index('School Name')

In [ ]:
Data_clean.to_json('academics_clean.json' , orient = 'index', compression = 'infer' , index = 'true')

In [ ]:
Data_clean.to_csv('CSVs/academics_clean.csv')

In [ ]:
#FAFSA

url = 'https://api.data.gov/ed/collegescorecard/v1/schools.json'
params = {
    'api_key': doe_key,
    'per_page': 250,
    'fields': "latest.root.id,latest.root.location.lon,latest.root.location.lat,latest.school.name,"+
    
    #school city / classifications
    "latest.school.city,latest.school.carnegie_undergrad,latest.school.carnegie_size_setting,"+
    "latest.school.carnegie_basic"
    
    #costs
    "latest.cost.attendance.academic_year,latest.cost.attendance.program_year"+
    
    #fafsa
    "latest.student.fafsa_sent.overall,"+
    
    #completion time by program
    "latest.academics.program_reporter.program_1.cip_6_digit.avg_month_completion,"+
    "latest.academics.program_reporter.program_2.cip_6_digit.avg_month_completion,"+
    "latest.academics.program_reporter.program_3.cip_6_digit.avg_month_completion,"+
    "latest.academics.program_reporter.program_4.cip_6_digit.avg_month_completion,"+
    "latest.academics.program_reporter.program_5.cip_6_digit.avg_month_completion,"+
    "latest.academics.program_reporter.program_6.cip_6_digit.avg_month_completion,"+
    
    #average net price
    "latest.cost.avg_net_price.public,latest.cost.avg_net_price.private,latest.cost.avg_net_price.other_academic_year,"+
    "latest.cost.avg_net_price.program_year,latest.cost.net_price.public.by_income_level.75001-110000,"+
    "latest.cost.net_price.program_reporter.by_income_level.75001-110000,latest.cost.net_price.private.by_income_level.75001-110000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.75001-110000,latest.cost.net_price.public.by_income_level.75000-plus,"+
    "latest.cost.net_price.program_reporter.by_income_level.75000-plus,latest.cost.net_price.private.by_income_level.75000-plus,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.75000-plus,latest.cost.net_price.public.by_income_level.48001-75000,"+
    "latest.cost.net_price.program_reporter.by_income_level.48001-75000,latest.cost.net_price.private.by_income_level.48001-75000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.48001-75000,latest.cost.net_price.public.by_income_level.30001-75000,"+
    "latest.cost.net_price.program_reporter.by_income_level.30001-75000,latest.cost.net_price.private.by_income_level.30001-75000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.30001-75000,latest.cost.net_price.public.by_income_level.30001-48000,"+
    "latest.cost.net_price.program_reporter.by_income_level.30001-48000,latest.cost.net_price.private.by_income_level.30001-48000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.30001-48000,latest.cost.net_price.public.by_income_level.110001-plus,"+
    "latest.cost.net_price.program_reporter.by_income_level.110001-plus,latest.cost.net_price.private.by_income_level.110001-plus,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.110001-plus,latest.cost.net_price.public.by_income_level.0-48000,"+
    "latest.cost.net_price.program_reporter.by_income_level.0-48000,latest.cost.net_price.private.by_income_level.0-48000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.0-48000,latest.cost.net_price.public.by_income_level.0-30000,"+
    "latest.cost.net_price.program_reporter.by_income_level.0-30000,latest.cost.net_price.private.by_income_level.0-30000,"+
    "latest.cost.net_price.other_acad_calendar.by_income_level.0-30000,"+
    
    #admission rate
    "latest.admissions.admission_rate.overall"
    
    'page=0'
}

   

response = requests.get(url, params=params)
response = response.json()
#pprint(response)

In [ ]:
# Initialize an empty list to store the data
fafsa_data = []
#starting page is 0
params['page'] = 0

#loop that will loop through the page until we reach page 6
while params['page'] < 7:
    #api call
    response = requests.get(url, params=params).json()
    next_page_results = response.get("results", [])
    fafsa_data.extend(next_page_results)
    #to go to the next page of results
    params['page'] += 1

In [ ]:
fafsa_df = pd.DataFrame(fafsa_data)
fafsa_df

In [ ]:
dropped_fafsa = fafsa_df.drop(columns=['latest.academics.program_reporter.program_1.cip_6_digit.avg_month_completion', 
                             'latest.academics.program_reporter.program_2.cip_6_digit.avg_month_completion', 
                             'latest.academics.program_reporter.program_2.cip_6_digit.avg_month_completion', 
                             'latest.academics.program_reporter.program_3.cip_6_digit.avg_month_completion', 
                             'latest.cost.avg_net_price.other_academic_year',
                             'latest.cost.avg_net_price.program_year',
                             'latest.cost.net_price.program_reporter.by_income_level.75001-110000',
                             'latest.cost.net_price.private.by_income_level.110001-plus',
                             'latest.cost.net_price.program_reporter.by_income_level.0-48000',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.0-48000',
                             'latest.cost.net_price.program_reporter.by_income_level.0-30000',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.0-30000',
                             'latest.academics.program_reporter.program_4.cip_6_digit.avg_month_completion', 
                             'latest.academics.program_reporter.program_5.cip_6_digit.avg_month_completion', 
                             'latest.academics.program_reporter.program_6.cip_6_digit.avg_month_completion',
                             "latest.cost.net_price.private.by_income_level.75001-110000",
                             'latest.cost.net_price.other_acad_calendar.by_income_level.75001-110000',
                             'latest.cost.net_price.program_reporter.by_income_level.30001-48000',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.30001-48000',
                             'latest.cost.net_price.program_reporter.by_income_level.75000-plus',
                             'latest.cost.net_price.private.by_income_level.75000-plus',
                             'latest.cost.net_price.program_reporter.by_income_level.110001-plus',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.75000-plus',
                             'latest.cost.net_price.program_reporter.by_income_level.48001-75000',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.30001-75000',
                             'latest.cost.net_price.program_reporter.by_income_level.30001-75000',
                             'latest.cost.net_price.other_acad_calendar.by_income_level.48001-75000'
                                       
                             
                                      ])
dropped_fafsa

In [ ]:
clean_fafsa = dropped_fafsa.rename(columns={'latest.school.name': 'School Name',
                                            'latest.school.city': "City", 
                                            'latest.school.carnegie_undergrad': 'Carnegie Classification Undergraduate Profile',
                                            'latest.school.carnegie_size_setting': 'Carnegie Size Setting',
                                            'latest.cost.avg_net_price.public': 'Public Average Net Price',
                                            'latest.cost.avg_net_price.private': 'Private Average Net Price',
                                            'latest.cost.net_price.public.by_income_level.75001-110000': 'Avg $75,001-$110,000 (Public)',
                                            'latest.cost.net_price.other_acad_calendar.by_income_level.110001-plus': 'Avg $110,000+ (All)',
                                            'latest.cost.net_price.public.by_income_level.0-48000': 'Avg $0-$48,000 (Public)',
                                            'latest.cost.net_price.public.by_income_level.75000-plus': 'Avg $75,000+ (Public)',
                                            'latest.cost.net_price.public.by_income_level.48001-75000': 'Avg $48,001-$75,000 (Public)',
                                            'latest.cost.net_price.private.by_income_level.48001-75000': 'Avg $48,001-$75,000 (All)',
                                            'latest.cost.net_price.public.by_income_level.30001-75000': 'Avg $30,001-$75,000 (Public)',
                                            'latest.cost.net_price.private.by_income_level.30001-75000': 'Avg $30,001-$75,000 (All)',
                                            'latest.cost.net_price.public.by_income_level.30001-48000': 'Avg $30,001-$48,000 (Public)',
                                            'latest.cost.net_price.private.by_income_level.30001-48000': 'Avg $30,001-$48,000 (All)',
                                            'latest.cost.net_price.public.by_income_level.110001-plus': 'Avg $110,000+ (Public)',
                                            'latest.cost.net_price.private.by_income_level.0-48000' : 'Avg $0-$48,000 (Private)',
                                            'latest.cost.net_price.public.by_income_level.0-30000' : 'Avg $0-$30,000 (Public)',
                                            'latest.cost.net_price.private.by_income_level.0-30000' : 'Avg $0-$30,000 (Private)'
                                            
                                           })


clean_fafsa.dropna()

In [ ]:
clean_fafsa = clean_fafsa.dropna()

In [ ]:
clean_fafsa = clean_fafsa.drop_duplicates(subset='School Name')

In [ ]:
clean_fafsa = clean_fafsa.set_index('School Name')

In [ ]:
clean_fafsa.to_csv('CSVs/clean_fafsa.csv')

In [ ]:
clean_fafsa.to_json('Jsons/clean_fafsa.json' , orient = 'index', compression = 'infer' , index = 'true')

In [ ]:
#ALL DATAFRAMES ARE AS FOLLOWS:
#clean_fafsa CHECKED
#Data_clean (Academics) CHECKED
#gender_completion_clean CHECKED
#demographics_clean CHECKED
#dependency_df CHECKED
#income_clean CHECKED